<h3 class='text-center py-2'>Welcome, <%= @booking.guest_name %>!</h3>  

<p class='text-center'>Use the button below to access your full check-in guide</p>

<div class="col bg-dark text-center text-white">
  <h5 class='p-3'>Your key code is <span class='text-warning'><%= @booking.keycode || 'Contact host' %></span></h5>
</div>


<hr>

<h4 class='py-3'><i class="fa fa-clipboard pe-3"></i>Your booking details</h4>
<table class='table table-sm table-striped table-bordered'>
  <tbody>
    <tr><td>Booking Reference</td><td><%= @booking.reservation_id %></td></tr>
    <tr><td>Guest count</td><td><%= @booking.guest_count %></td></tr>
    <tr><td>Property Name</td><td><%= @booking.apartment.name %></td></tr>
    <tr><td>Check-in time</td><td><%= @booking.check_in_time.strftime("%H:%M") %></td></tr>
    <tr><td>Check-out time</td><td><%= @booking.check_out_time.strftime("%H:%M") %></td></tr>
    <tr><td>Duration (Days: <%= (@booking.departure - @booking.arrival).to_i %>)</td><td><%= @booking.arrival.strftime("%d/%m/%y") %> - <%= @booking.departure.strftime("%d/%m/%y") %></td></tr>
  </tbody>
</table>

<h4 class='py-3'><i class="fa fa-sign-in pe-3"></i>Check In</h4>
<table class='table table-sm table-striped table-bordered'>
  <tbody>
    <tr><td>Check-in time</td><td><%= @booking.check_in_time.strftime("%H:%M") %></td></tr>
    <tr><td>Key Location</td> <td> <%= @booking.apartment.address %> </td></tr>
    <tr><td>Flat address</td> <td> <%= @booking.apartment.address %> </td></tr>
  </tbody>
</table>


<tr><td>WiFi Name</td> <td> <%= @booking.apartment.wifi_name %> </td></tr>
    <tr><td>WiFi Password</td> <td> <%= @booking.apartment.wifi_password %> </td></tr>


<div class="py-2 d-flex justify-content-center text-success">
  <hr style="width:30%">
</div>

<div class="d-grid gap-2">
  <button class="btn btn-primary"><a class="text-white no-underline" target="_blank" href="<%= @booking.guest_app_url %>">Guest Check-In Guide</a></button>
</div>
