<div class="d-flex align-items-center pb-5 justify-content-between">
  <div>
    <h3 class='pe-3'><%= @booking.guest_name %></h3>
  </div>

  <div>
    <button class='btn btn-primary'><a target="_blank" class="text-decoration-none text-white" href="<%= @booking.pre_checkin_url %>">Pre-check-in form</a></button>
    <button class='btn btn-primary disabled'>Refund</button>
    <button class='btn btn-primary disabled'>Invoice</button>
  </div>
</div>

<h4 class='pb-3'>Booking details</h4>
<table class="table table-striped table-bordered table-sm">

  <tbody>
      <tr> 
        <th>Booked at</th>
        <td><%= @booking.data_created_at.strftime("%d/%m/%Y") %></td>
      </tr>
      <tr>
        <th>Ref</th>
        <td><%= @booking.reference_id %></td>
      </tr>
      <tr> 
        <th>Flat</th>
        <td><%= @booking.apartment.name %></td>
      </tr>
      <tr> 
        <th>Arrival</th>
        <td><%= @booking.pretty_arrival %></td>
      </tr>
      <tr> 
        <th>Departure</th>
        <td><%= @booking.pretty_departure %></td>
      </tr>
      <tr> 
        <th>Adults</th>
        <td><%= @booking.adults %></td>
      </tr>
      <tr> 
        <th>Children</th>
        <td><%= @booking.children %></td>
      </tr>
      <tr> 
        <th>Platform</th>
        <td><%= @booking.channel.name %></td>
      </tr>
      <tr> 
        <th>Code</th>
        <td><%= @booking.keycode || "N/A" %></td>
      </tr>
      <tr> 
        <th>Telephone</th>
        <td><%= @booking.phone %></td>
      </tr>
      <tr> 
        <th>ID Status</th>
        <td><%= @booking.id_status %></td>
      </tr>
      <tr> 
        <th>Deposit Status</th>
        <td>
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <%= @booking.deposit_status %> <%= @booking.requests&.deposit&.last&.capture? ? " (#{@booking.requests&.deposit&.last&.link})" : ''  %>
            </div>
            <div>
              <% if @booking.active_deposit? %>
              <button class="btn btn-sm btn-success" id="btn-capture" data-request-id="<%= @booking.requests.deposit.last.id %>">Capture</button>
              <button class="btn btn-sm btn-primary" id="btn-release" >Release</button>
              <% end %>
            </div>
          </div>
          </td>
      </tr>
      <tr> 
        <th>Terms Status</th>
        <td><%= @booking.terms_status %></td>
      </tr>
      <tr> 
        <th>Previous bookings</th>
        <td><%= @booking.previous_bookings_count %></td>
      </tr>
  </tbody>

</table>

<script>
  document.addEventListener('DOMContentLoaded', function(){


    const btnCapture = document.querySelector('#btn-capture')
    if (btnCapture) {
      document.querySelector('#btn-capture').addEventListener('click', function(e){

        

        const requestId = e.target.getAttribute('data-request-id');

        Swal.fire("WARNING!", "Capturing any amount from the deposit will immediately release the remainder to the guest. Please make sure you know exactly what to deduct, prior.", "warning")
        .then(() => {
          Swal.fire({
            title: `How much would you like to capture?`,
            input: 'text',
            inputPlaceholder: 'e.g. 50',
            showCancelButton: true
          }).then((amount) => {
          
            if (amount.isConfirmed) {

              if(amount.value > 150) {
                Swal.fire("Too much!", "You can't capture more than the original payment amount.", "warning")
                return
              }

              Swal.fire({
                title: `Notes on why you're capturing this amount (£${amount.value})`,
                input: 'textarea',
                inputPlaceholder: 'Enter your notes here',
                showCancelButton: true
              }).then((notesResult) => {
                if (notesResult.isConfirmed) {
                  const notes = notesResult.value;
                  
                  fetch('/requests/' + requestId + "/capture-deposit", {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                      'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                    },
                    body: JSON.stringify({
                      request_action: 'capture',
                      booking_id: <%= @booking.id %>,
                      amount: amount.value,
                      notes: notes,
                    })
                  }).then(response => {
                    if (response.ok) {
                      Swal.fire('Success', 'Your request has been submitted.', 'success');
                    }
                  })

                }
              })
            }
          })
        })
      
      
      
      });


    }

    const btnRelease = document.querySelector('#btn-release')
    if (btnRelease) {
      document.querySelector('#btn-release').addEventListener('click', function(e){
        Swal.fire({
          title: "Are you sure?",
          text: "This will release the full deposit amount (£150.00) to the customer and is irreversible.",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, release it.",
          cancelButtonText: "Cancel",
          reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
              Swal.fire({
                title: `Notes on why you're releasing the deposit`,
                input: 'textarea',
                inputPlaceholder: 'Enter your notes here',
                showCancelButton: true
              }).then((notesResult) => {
                if (notesResult.isConfirmed) {
                  const notes = notesResult.value;
                  
                  fetch('/requests/' +  <%= Request.where(booking_id: @booking).deposit&.paid&.last&.id || '0' %> + "/release-deposit", {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                      'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                    },
                    body: JSON.stringify({
                      request_action: 'release',
                      booking_id: <%= @booking.id %>,
                      notes: notes,
                    })
                  }).then(response => {
                    if (response.ok) {
                      Swal.fire('Success', 'Your request has been submitted.', 'success');
                    }
                  })
                }
            })
          }
        });
      });
    }


  });
</script>



