<div class="container">

  
  <div class="row">
    <div class="col">
      <h3 class="mb-3">Cleans Determiner</h3>
    </div>
  </div>
  

  <table class="table bordered">
    <thead>
      <th>Apartment</th>
      <th>Clean needed (<%= Date.today.strftime('%A') %>)?</th>
      <th>Clean needed tomorrow (<%= (Date.today + 1).strftime('%A') %>)?  </th>
      <th>Why?</th>
    </thead>

    <tbody>

      <% Apartment.all.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><%= a.departing_today? %></td>
        <td><%= a.departing_tomorrow? %></td>
        <td><%= raw a.clean_reason %></td>
      </tr>

      <% end  %>
      
    </tbody>

  </table>


</div>