<h3>Hey, <%= @request.booking.guest_name %>!</h3>
<hr>
<h5>Please clear your outstanding deposit below (Ref: <%= @request.booking.reference_id %>)</h5>
<div class="alert alert-info my-3">
  The deposit is a pre-authorised payment and the amount is held on your account and not withdrawn by us. This is later released subject to compliance with our terms.
</div>


<form id="payment-form">
  <div id="payment-element">
    <!-- Stripe will inject the Payment Element here -->
  </div>
  <button id="submit" class="btn btn-primary mt-3">Pay Deposit</button>
  <p id="error-message" class="text-danger"></p>
</form>

<script src="https://js.stripe.com/v3/"></script>
<script>
  const stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :test, :publishable_key) %>');

  // Fetch the PaymentIntent client secret from the backend
  fetch('/deposits/create-intent', {
    method: 'POST',
    headers: {
    'Content-Type': 'application/json',
    'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
    },
    body: JSON.stringify({ amount: <%= @deposit_amount %>, booking_id: <%= @request.booking.id || 0 %> })  // Example amount
  })
  .then(response => response.json())
  .then(data => {
    const clientSecret = data.client_secret;

    // Customize the appearance of the Payment Element
    const appearance = {
      theme: 'stripe',
      variables: {
        colorPrimary: '#0570de',
        colorBackground: '#ffffff',
        colorText: '#30313d',
        colorDanger: '#df1b41',
        fontFamily: 'Ideal Sans, system-ui, sans-serif',
        spacingUnit: '2px',
        borderRadius: '4px',
      }
    };

    // Create the Stripe Elements group with the clientSecret
    const elements = stripe.elements({ clientSecret, appearance });

    // Create and mount the Payment Element
    const paymentElement = elements.create('payment');
    paymentElement.mount('#payment-element');

    // Handle the form submission
    const form = document.getElementById('payment-form');
    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      // Confirm the payment with Stripe
      const result = await stripe.confirmPayment({
        elements,
        redirect: 'if_required'
      });

      if (result.error) {
        // Show error message to the user
        document.getElementById('error-message').textContent = result.error.message;
      } else {

        fetch("/requests/<%= @request.id %>/pay-deposit", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        },
        body: JSON.stringify({
            paymentId: result?.paymentIntent?.id
          })
        });

      }
    });
  })
  .catch(error => {
    console.error('Error fetching the client secret:', error);
  });
</script>