<div class="container">

  <div class="row">
    <div class="col text-center pb-3">
      <h5>Showing <%= "#{@today.to_date} (#{@todays_day})" %></h5>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-between mb-3">
      <%= link_to '-1 Day <i class="bi bi-caret-left"></i>'.html_safe, "/?date=#{@yesterday}", method: :get, class: 'btn btn-secondary' %>
      <%= link_to 'Today', root_path, method: :get, class: 'btn btn-primary' %>
      <%= link_to '<i class="bi bi-caret-right"></i> +1 Day'.html_safe, "/?date=#{@tomorrow}", method: :get, class: 'btn btn-secondary' %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="d-flex align-items-center">
          <h3 class="my-3 me-3">Cleans Predictor</h3>
      </div>
    </div>
  </div>


  <% if @extras.any? %>  
    <div class="alert alert-warning">
      <i class="fa fa-bell"></i>  Early/Late check-outs purchased on booking(s): 
      <% @extras.each do |e| %>
        <div>
          <a target="_blank" href="/bookings/<%= e.booking_id %>"><%= e.booking.guest_name %> (<%= e.addon_option.description %>)</a>
        </div>
      <% end %>
    </div>
  <% end %>

    <% @apartments.each do |a| %>

      <% current_booking = a&.bookings&.current_bookings(@today)&.first&.decorate %>
      <% previous_booking = a&.bookings&.current_bookings(@yesterday).first %>

      <div class="row">
        <div class="col py-3 d-flex justify-content-center">
          <div class="card" style="width: 100%;">
            <div class="card-header d-flex justify-content-between align-items-center">
              <div class="d-flex flex-column align-items-top border-end pe-3" style="height:100%">
                <h5 class="card-title m-0"><%= a.name %> </h5>
                <div class="d-flex justify-content-center">
                  <b class='me-2'><i class='bi bi-person'></i>x <%= current_booking&.guest_count || 0 %></b>
                  <% if current_booking&.guest_count.to_i > 4 %>
                    (<b><i class='fa fa-couch'></i></b>)
                  <% end %>
                </div>
              </div>


              <div class="flex-fill d-flex align-items-center px-3" style='height:100%'>

                <% if current_booking&.guest_input_sofabed? %>
                 <i class="fa fa-couch me-3" style='font-size:20px;'></i>
                <% end %>

                <% if current_booking&.guest_input_parking? %>
                 <i class="fa fa-car me-3" style='font-size:20px;'></i>
                <% end %>

              </div>

              <div class="d-flex flex-column">
              <span><%= (a.bookings.departing(@today).any? ? t("cleaning_predictor.today.clean", weekday: @todays_day.first(3)) : t("cleaning_predictor.today.no_clean", weekday: @todays_day.first(3))).html_safe %> </span>
              <span><%= (a.bookings.departing(@tomorrow).any? ? t("cleaning_predictor.tomorrow.clean", weekday: @tomorrows_day.first(3)) : t("cleaning_predictor.tomorrow.no_clean", weekday: @tomorrows_day.first(3))).html_safe %> </span>
              </div>  
            </div>
            <div class="card-body">
             <div class="d-flex justify-content-between align-items-center p-2 bg-light border">
                <% if a.key.nil? %>
                    <i class="fa fa-lock"></i>
                    <b>PIN: <%= current_booking&.code || '@ 11AM'  %></b>
                <% else %>
                  <div>
                    <% key_colour = a.key.current_status == 'In Store' ? 'green' : 'lightgrey' %>
                    <i class="fa fa-key pt-1" style="color:<%= key_colour %>"></i>
                    <b class='px-2'>
                      <%= a.key.last_movement.strftime('%d/%m/%y at %H:%m') %>
                    </b>
                  </div>
                  <div class="d-flex flex-column">
                    <b><span style='font-size:10px'>Staff:</span> <%= a.key.collection_code %></b>
                    <b><span style='font-size:10px'>Guest:</span> <%= current_booking&.keycode || 'N/A' %></b>
                  </div>
              <% end %>
            </div>
          
              <% if current_booking %>
                <table class="table table-sm table-bordered mt-2">
                  <tr>
                    <th>Name</th>
                    <td><%= current_booking.guest_name %></td>
                  </tr>

                  <tr>
                    <th>Number</th>
                    <td><%= current_booking.phone %></td>
                  </tr>

                  <tr>
                    <th>Platform</th>
                    <td><%= current_booking.channel.name %></td>
                  </tr>

                  <tr>
                    <th>Booked</th>
                    <td><%= distance_of_time_in_words(@today, current_booking.data_created_at) %> ago </td>
                  </tr>  

                  <tr>
                    <th>Arrival</th>
                    <td><%= current_booking.pretty_arrival %></td>
                  </tr>    

                  <tr>
                    <th>Duration</th>
                    <td><%= distance_of_time_in_words(current_booking.arrival, current_booking.departure) %> </td>
                  </tr>    

                  <tr>
                    <th>Departure</th>
                    <td><%=  current_booking.pretty_departure %> </td>
                  </tr>    
                </table>
                <% else  %>
                  <div class='alert alert-light m-1'>No one's here.</div>
                <% end %>
            </div>

            <div class="card-footer">
              <div class="d-flex justify-content-between">
                <div>Previous code was <b> <%= previous_booking&.code || 'N/A' %></b></div>
                <div><a data-apartment_id="<%= a&.id %>" class='link-underline-primary more-codes' style='cursor: pointer;'>more...</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    <% end %>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {

    document.querySelectorAll(".more-codes").forEach(function(elem) {
      elem.addEventListener('click', function(el) {
        // Show the SweetAlert loading message
        Swal.fire({
          title: 'Loading',
          html: 'Please wait while we load the data...',
          allowOutsideClick: false,
          didOpen: () => {
            Swal.showLoading();
          
            var apartmentId = el.target.getAttribute("data-apartment_id");
            fetch('/apartments/previous-codes?apartment_id=' + apartmentId , {
              method: 'GET',
            })
            .then(response => response.json())
            .then(data => {
              // Construct the HTML table
              let table = `<table class="table">
                            <thead>
                              <tr>
                                <th>Date</th>
                                <th>Platform</th>
                                <th>Code</th>
                              </tr>
                            </thead>
                            <tbody>`;

              // Loop through the array and add rows to the table
              data.forEach(item => {
                table += `<tr>
                            <td>${item.date}</td>
                            <td>${item.platform}</td>
                            <td>${item.code}</td>
                          </tr>`;
              });

              table += `</tbody></table>`;

              // Update the Swal modal to display the table
              Swal.fire({
                title: 'Previous Bookings',
                html: table, // Insert the table into the Swal body
                width: '600px', // Set the modal width as needed
                showConfirmButton: true, // Show the OK button to close the modal
              });
              })
              .catch(error => {
                // Handle errors and show an error message
                Swal.fire({
                  icon: 'error',
                  title: 'Error',
                  text: 'Failed to load data. Please try again later.',
                });
              });
            }
          });

      })
    })

  })
</script>