<h3>Hey <%= current_user.name %>!</h3>


<% if true %>
<div class='mb-3'>You have <span style='color:orange;font-size:20px;'>2</span> cleans today.</div>

<div class="row">
  <% @apartments.each do |a| %>
  <% current_booking = a&.bookings&.current_bookings(@today)&.first&.decorate %>
  <div class="col-* mb-3">
    <div class="card">
      <div class="card-header">
        <%= a.name  %>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-column">
            <span><%= (a.bookings.departing(@today).any? ? t("cleaning_predictor.today.clean", weekday: @todays_day.first(3)) : t("cleaning_predictor.today.no_clean", weekday: @todays_day.first(3))).html_safe %> </span>
            <span><%= (a.bookings.departing(@tomorrow).any? ? t("cleaning_predictor.tomorrow.clean", weekday: @tomorrows_day.first(3)) : t("cleaning_predictor.tomorrow.no_clean", weekday: @tomorrows_day.first(3))).html_safe %> </span>
          </div>
          <div>
            <h4><%= current_booking.guest_count %> people</h4>
          </div> 

          <div>
            <h3><%= current_booking.pretty_arrival(true) %></h3>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<% else %>

  <div class="alert alert-secondary mt-4">
    You have no cleans today.
  </div>

<% end %>