<!DOCTYPE html>
<html>
  <head>
    <title>SaPortal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"></script>
    <script>
      var reservationID = '<%= @reservation_id %>';
      var code = '<%= @code %>';
      var url = '/guests/' + reservationID + '/' + code + '/';
    </script>


  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark" style='background:#34a38b; height:100px'>
      <div class="container d-flex justify-content-center">
        <a class="navbar-brand text-center" href="#"><span>Casa Cosy<br><small><%= @step.nil? ? "Check-in instructions" : "Pre Check-in Form" %></p></a>
      </div>
    </nav>

    <div class="bg-light">
      <% unless @step.nil? %>
      <div class="container text-center py-3"><b>Step (<%= "#{@step}/#{@total_steps}" %>) - <%= @step_text %></b></div>
      <% end %>
    </div>
   
    <div class="container mt-3">
      <%= yield %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      function refreshWithoutSteps() {
        window.location.href = url;
        console.log('Going to ' + url)
      }
      function goToStep(n) {
        window.location.href = url + n;
        console.log('Going to ' + url + n)
      }
    </script>

  </body>
</html>
